* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-width: 350px;
    margin: 0 auto;
}

#logo {
    font: bold 2em/1.5em 'Courier New', Courier, monospace;
    color: antiquewhite;
}

.jumbotron {
    padding: 90px;
    margin-top: 2.5em;
}

.myImg {
    width: 90%;
    height: 90%;
}

.me1 {
    font: bold 2.7em cursive, Courier, sans-serif;
    color: firebrick;
}

.me2 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 1em;
    color: darkblue;
}

.me3 {
    font-weight: bold;
    font-style: italic;
    margin-left: 3em;
    color: grey;
}

.row-spec {
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 300px;
}

#mycarousel {
    text-align: center;
    margin: 0 auto;
}

.proj {
    font-size: 4em;
    font-weight: bold;
    color: purple;
    background-color: rgba(238, 238, 238, 0.7);
    border-radius: 70%;
    border: 2px dashed black;
    cursor: pointer;
}

.card-text {
    font: italic 1.5em/1.5em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projImg {
    opacity: 0.4;
    cursor: pointer;
    width: 100%;
}

.projImg:hover {
    opacity: 1;
}

.carousel-caption {
    /* Prevent pointer events */
    pointer-events: none;
}

.carousel-item {
    /* Prevent carousel from resizing */
    height: 443px;
    overflow: hidden;
    width: 100%;

}

.footer {
    background-color: #aaC4E9;
    margin: 0 auto;
    padding: 20px 0px;
}

textarea {
    /* Prevent textarea from resizing */
    resize: none;
}

@media screen and (max-width: 530px) {
    .me1 {font-size: 1.6em;}
    .me2 {font-size: 1em;}
    .me3 {font-size: 0.8em;}
    .card-text {font-size: 1.3em}
}

@media screen and (max-width: 400px) {
    .me1 {font-size: 1.3em;}
    .me2 {font-size: 0.9em;}
    .me3 {font-size: 0.7em;}
    .card-text{font-size: 1em}
}